h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-weight: 400;
  color: #fefefe;
}

h2 {
  font-family: 'Architects Daughter', cursive;
  font-size: 400;
  text-align: center;
  color: #0e7c7b;
}

h3 {
  font-family: 'Zhi Mang Xing', cursive;
  font-weight: 400;
  color: #fefefe;
  font-size: 40px;
}

h5 {
  font-family: 'Architects Daughter', cursive;
  font-size: 400;
}

p {
  font-family: 'Architects Daughter', cursive;
  font-size: 400;
}
/*Navbar*/
.n-f-color {
  background-color: #00303a;
  font-size: 400;
}

.nav-txt{
  font-family: 'Architects Daughter', cursive;
  text-align: justify;
}

/*Sobre mi*/
.img-sobre-mi {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 82px;
  height: 747px;
}

.font-sm {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 400;
}

.f-size {
  font-size: 75px;
}

.margin-sm {
  text-align: center;
  padding-top: 550px;
}

.hr {
  margin-left: 400px;
  margin-right: 400px;
  border: 1px solid #fefefe;
}
/*Descripción*/
.description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.txt {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
}
.hr-2 {
  border-top: 2px solid;
  color: #00303a;
  margin-left: 510px;
  margin-right: 510px;
}


/*mi experiencia*/
.mi-experiencia{
height: 400px;
}

.i-color {
  color: #148775;
  font-size: 70px;
}

.m-exp {
  padding-top: 50px;
}

.exp-font {
  font-size: 25px;
}

.hr-3 {
  margin-bottom: 50px;
  border-top: 2px solid;
  color: #00303a;
  margin-left: 630px;
  margin-right: 630px;
}
/*últimos trabajos*/
.margin-card {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 53px;
  padding-bottom: 107px;
  background-color: #148775;
}

.m3-card {
  margin-top: 45px;
}

.ut-color {
  color: #fefefe;
  margin-bottom: 15px;
}

.card-m {

}

.m-e-align section{
  text-align: center;
  display: inline-block;
}

.al-center {
  text-align: center;
}
.hr-4 {
  border-top: 2px solid;
  color: #fefefe;
  margin-left: 483px;
  margin-right: 483px;
  margin-bottom: 65px;
}

/*Contacto*/
.contacto {
  height: 500px;
  text-align: center;
  padding-top: 80px;
}

.p-contacto {
  padding-top: 55px;
  font-family: 'Architects Daughter', cursive;
  font-size: 400;
  font-size: 25px;
}

.button-m {
  margin-top: 30px;
  background-color: #148775;
  border-color: #00303a;
  font-family: 'Architects Daughter', cursive;
}
/*Footer*/
.footer {
  color: #fefefe;
  height: 218px;
  padding-left: 284px;
  padding-top: 82px;
}

.f-al {
  display: inline-block;
}

.icons {
  font-size: 40px;
  padding-left: 400px;
}

.color-a {
color: #fefefe;
}

.color-a:hover {
  color: #148775;
}
